hcloud_token                     = "your_hcloud_token"
access_key                       = "access_key"
secret_key                       = "secret_key"
ssh_public_key                   = "ssh_public_key"
gitlab_runner_registration_token = "gitlab_runner_registration_token"
gitlab_url                       = "gitlab_url"